* {
    color: #FFFFFF;
}

body {
    background: #00030C;
    font-family: 'Inter', sans-serif;
}

.cabecalho {
    background-image: url("Background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 100vh;
    text-align: center;

}

h1 {
    font-weight: 700;
    font-size: 28px;
    max-width: 500px;
    padding-bottom: 20px;
}

.principal {
    margin: 5em;
    background: none;

}

.botao1 {
    background: #167BF7;
    display: block;
    padding: 1em;
    border-radius: 8px;
    max-width: 500px;
    text-decoration: none;
    text-align: center;
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
}

.botao1:hover {
    background: #114e97;
    transition: 500ms;
}

.botao2 {
    display: block;
    padding: 1em;
    border-radius: 8px;
    border: 0.2px solid #FFFFFF;
    max-width: 500px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.botao2:hover {
    border: 0.2px solid #167BF7;
    color: #167BF7; 
    transition: 500ms;
}

.texto {
    color: #C0C0C0;
    font-size: 12px;
    padding-top: 10px;
    line-height: 20px;
}

main {
    margin: 0 100px;
}

.plataformas {
    display: flex;
    align-items: center;
}

.conteudo-plataformas {
    display: block;
    padding: 10px 0;
    margin-left: 100px;
}

.titulo {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
}

.telas {
    display: flex;
    align-items: center;
    height: 100vh
}

.conteudo-telas {
    margin-right: 110px;
}

.botao3 {
    position: absolute;
    background: #167BF7;
    padding: 1em;
    margin-top: 15px;
    border-radius: 8px;
    text-decoration: none;
}

.botao3:hover {
    background: #114e97;
    transition: 500ms;
}

.notebook {
    display: flex;
    align-items: center;
    height: 100vh;
}

.conteudo-notebook {
    display: block;
    padding: 10px 0;
    margin-left: 100px;
}

h4 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.dispositivos {
    display: inline-block;
    text-align: center;
    padding-left: 25px;
    height: 50vh;
}

.rodape {
    text-align: center;
    padding: 20px;
    margin: 3em 3em 0 3em;
}

.link-rodape {
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
}

.link-rodape:hover {
    color: #114e97;
    transition: 500ms;
}

footer div {
    padding: 2em;
}

.texto-rodape {
    margin-bottom: 0;
}